* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  font-size: 1em;
/* 12px */
  line-height: 1.5em;
/* 18px */
  margin: 0 0 1.5em 0;
}
.content {
  background-color: #fff;
  overflow: auto;
}
.content h1,
.content h2 {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0px;
}
@media screen and (min-width: 1025px ) {
  .content {
    margin-left: 15%;
    margin-right: 15%;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
  .content .logo {
    margin-top: 8em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .content h1 {
    font-size: 1.6667em;
/* 20px */
    line-height: 1.8em;
/* 36px */
    margin-bottom: 0.9em;
    margin-top: 0em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  .content h2 {
    margin-top: 24px !important;
    font-size: 1.5em;
/* 18px */
    line-height: 1em;
/* 18px */
    margin-bottom: 1em;
    margin-top: 0em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  .content p,
  .content ul {
    display: inline;
    float: left;
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Open Sans', sans-serif;
  }
  .content p code,
  .content ul code {
    font-size: 1em;
/* 12px */
    line-height: 1.5em;
/* 18px */
    margin: 0 0 1.5em 0;
    font-family: 'Inconsolata', sans-serif;
    background-color: #e6e6e6;
  }
  .content pre {
/* Otherwise screws up baseline: */
    display: inline;
    float: left;
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .content pre code {
    font-size: 1em;
/* 12px */
    line-height: 1.5em;
/* 18px */
    margin: 0 0 1.5em 0;
    font-family: 'Inconsolata', sans-serif;
    white-space: pre-wrap;
    overflow: scroll;
  }
}
@media screen and (min-width: 321px) and (max-width: 1024px) {
  .content {
    margin-left: 5%;
    margin-right: 5%;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
  .content h1 {
    font-size: 1.5em;
/* 18px */
    line-height: 1em;
/* 18px */
    margin-bottom: 1em;
    margin-top: 0em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  .content h2 {
    margin-top: 24px !important;
    font-size: 1.3333em;
/* 16px */
    line-height: 1.125em;
/* 18px */
    margin-bottom: 1.125em;
    margin-top: 0em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  .content .logo {
    margin-top: 4em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .content p,
  .content ul {
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Open Sans', sans-serif;
  }
  .content p code,
  .content ul code {
    font-size: 1em;
/* 12px */
    line-height: 1.5em;
/* 18px */
    margin: 0 0 1.5em 0;
    font-family: 'Inconsolata', sans-serif;
    background-color: #e6e6e6;
  }
  .content pre {
/* Otherwise screws up baseline: */
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .content pre code {
    font-size: 1em;
/* 12px */
    line-height: 1.5em;
/* 18px */
    margin: 0 0 1.5em 0;
    font-family: 'Inconsolata', sans-serif;
    white-space: pre-wrap;
    overflow: scroll;
  }
}
@media screen and (max-width: 320px) {
  .content {
    margin-left: 0%;
    margin-right: 0%;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
  .content p,
  .content ul {
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Open Sans', sans-serif;
  }
  .content p code,
  .content ul code {
    font-size: 1em;
/* 12px */
    line-height: 1.5em;
/* 18px */
    margin: 0 0 1.5em 0;
    font-family: 'Inconsolata', sans-serif;
    background-color: #e6e6e6;
  }
  .content h1 {
    font-size: 1.5em;
/* 18px */
    line-height: 1em;
/* 18px */
    margin-bottom: 1em;
    margin-top: 0em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  .content h2 {
    margin-top: 24px !important;
    font-size: 1.3333em;
/* 16px */
    line-height: 1.125em;
/* 18px */
    margin-bottom: 1.125em;
    margin-top: 0em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
  }
  .content .logo {
    margin-top: 2em;
    display: inline;
    float: left;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .content pre {
/* Otherwise screws up baseline: */
    display: inline;
    float: left;
    overflow: hidden;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .content pre code {
    font-size: 1em;
/* 12px */
    line-height: 1.5em;
/* 18px */
    margin: 0 0 1.5em 0;
    font-family: 'Inconsolata', sans-serif;
    white-space: pre-wrap;
    overflow: scroll;
  }
}
.end {
  margin-left: 0%;
  margin-right: 0%;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  -ms-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
  background: url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 800px !important;
}
.end .overlay {
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background: #000;
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
  padding-top: 100px;
}
.end .overlay p {
  margin-top: 0em;
  margin-bottom: 0em;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #fff;
}
.end .overlay p a {
  color: #fff;
}
